# Compiled files
*.o
*.out
custom_deleter
bit_flip
addition
test_addition
Palindrome
StringRevers
array_rotation
memory_example
processor_simulation
simple_array_rotation
swap_even_numbers
test

# Debug symbol files
*.dSYM/

# Bin directory
bin/

# IDE specific files
.vscode/
.idea/
*.swp

# OS specific files
.DS_Store
